//- extends layout
 
//- block content
//-   //- Add a heading for the page
//-   h1 Search Results for Cars

//-   - var 
 
//-   div.container-fluid
//-     div.row
//-       //- Iterate over each item in results (passed from cars.js) and display in a col-sm-2 div
//-       each car in results
//-         div.col-sm-3
//-           h5 Car name: #{car.car_name}
//-           p Model: #{car.model}
//-           p power: #{car.power} HP

extends layout

block content
  h1 Search Results for Cars

  .container-fluid
    .row
      each item in results
        div.col-sm-3
          h3 #{item.car_name}
          p Model: #{item.model}
          p Power: #{item.power}
          a(href=`/cars/${item._id}`) Inspect
          a(href=`/cars/${item._id}/update`) Update
          a(href=`/cars/${item._id}/delete`) Delete
  
  a(href='/cars/create') Add New Car

  script.
    function buy(index) {
      alert(`You purchased item ${index}`);
    }